In [45]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt 
import seaborn as sns

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

In [28]:
df.head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"[r, python, sql, nosql, power bi, tableau]","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"[python, sql, c#, azure, airflow, dax, docker,...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."

In [ ]:
df_DA_US = df[(df['job_title_short']=='Data Analyst') & (df['job_country']=='United States')].copy()
# df_DA_US
df_plot = df_DA_US['job_location'].value_counts(ascending=False).head(10).reset_index()
df_plot['job_location']  #['count']

sns.set_theme(style='ticks')
sns.barplot(data=df_plot,x='count',y='job_location',hue='count',palette='dark:b_r',legend=False)
sns.despine()

# plt.barh(df_plot['job_location'],df_plot['count'])
# plt.gca().invert_yaxis()

plt.title('number of jobs per job title')
plt.xlabel('number of jobs')
plt.ylabel('')

plt.show()

In [ ]:
df_DA_US = df[(df['job_title_short']=='Data Analyst') & (df['job_country']=='United States')].copy()
# df_DA_US
df_plot = df_DA_US['company_name'].value_counts(ascending=False).head(10).to_frame()
df_plot

sns.set_theme(style='ticks')
sns.barplot(data=df_plot,x='count',y='company_name',hue='count',palette='dark:b_r',legend=False)
sns.despine()

plt.title('number of jobs per job title')
plt.xlabel('number of jobs')
plt.ylabel('')

plt.show()

In [ ]:
dict_column = {
    'job_work_from_home': 'Work from Home Offered',
    'job_no_degree_mention': 'Degree Requirement',
    'job_health_insurance': 'Health Insurance Offered'
}
# dict_column['job_work_from_home']
# print(len(dict_column))

fig, ax = plt.subplots(1,len(dict_column),figsize=(12,5))
for i,(key,value) in enumerate(dict_column.items()):
    counts = df[key].value_counts()
    din = counts.values
    labels = counts.index

    ax[i].pie(din, labels=labels,startangle=90,autopct='%.1f%%',explode=[0 if label=='False' else 0.1 for label in labels])
    ax[i].set_title(value)

plt.tight_layout()
plt.show()

In [ ]:
job_filter = ['job_work_from_home','job_no_degree_mention','job_health_insurance']

fig, ax = plt.subplots(1,len(job_filter),figsize=(10,5))

for i,filter in enumerate(job_filter):
    counts = df[filter].value_counts()
    din = counts.values
    labels = counts.index

    ax[i].pie(din,labels=labels,autopct='%.1f%%',startangle=90,explode=[0 if label==False else 0.1 for label in labels])
    ax[i].set_title(filter)


plt.tight_layout()
plt.show()